.about-us-responsibility-page-section {
    display: flex;
    gap: 60px;
    padding: 70px;
    justify-content: space-between;
    margin-top: 5px;
    background-color: #0071b80d;
}

.about-us-responsibility-page-section h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
}

.about-us-page-responsibility-left-section {
    width: 30%;
    
}

.about-us-page-responsibility-left-section-images {
    display: flex;
    
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}

.about-us-page-responsibility-left-section img {
    width: 100%;
    height: 220px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
}

.about-us-responsibility-page-right-section {
    width: 70%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.about-us-responsibility-page-right-section-content h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
}

.about-us-responsibility-page-right-section-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.our-services-boxes {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.our-services-boxe {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.number-circle {
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #0071BC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
