.cleaning-service-page-faqs-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.faqs-section h3 {
  font-size: 35px;
  font-weight: 600;
  /* margin-bottom: 20px; */
  line-height: 45px;
}
.faqs-section p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 300;
}
.accordion-button {
  /* background-color: #8cc0e22f !important; */
  background-color: #e6f1f8;
  margin-bottom: 3px;
}
.accordion-button:hover {
  color: #0072b8 !important;
}
/* Default (closed state) accordion icon */
.accordion-button::after {
  background-image: none !important; /* Remove default SVG */
  content: "+"; /* Custom plus icon */
  font-size: 20px;
  color: #0071b8; /* Default color */
  margin-left: auto;
  transition: transform 0.3s ease;
}

/* Open (active) state accordion icon */
.accordion-button:not(.collapsed)::after {
  content: "−"; /* Minus sign */
  color: white !important; /* Make icon white */
}

/* Open state accordion background and text color */
.accordion-button:not(.collapsed) {
  background-color: #0071b8;
  color: white !important;
}
@media (max-width: 1024px) {
  .cleaning-service-page-faqs-section {
    padding: 30px 20px;
  }
}

/* ---------- 768px and below ---------- */
@media (max-width: 768px) {
  .cleaning-service-page-faqs-section {
    padding: 30px 20px;
  }
}

/* ---------- 480px and below ---------- */
@media (max-width: 480px) {
  .cleaning-service-page-faqs-section {
    padding: 30px 20px;
  }
  .cleaning-service-page-faqs-section h3{
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }
    .cleaning-service-page-faqs-section p{
      text-align: center;
    font-size: 16px;
    line-height: 35px;
  }
}

/* Balcony Cleaning css */

.balcony-cleaning{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  /* background-color: #0071b80d; */
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  gap: 20px;
}
.balcony-cleaning h3{
  font-size: 35px;
  font-weight: 600;
  /* margin-bottom: 20px; */
  line-height: 45px;
}
.balcony-cleaning p{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 300;
}