.lower-sofa-cleaning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 66px;
  background-color: #0071b80d;
  /* height: 363px; */
}

.lower-sofa-cleaning-services-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 884px;
}

.lower-sofa-cleaning-services-left h3 {
  font-weight: 600;
  font-size: 35px;
  line-height: 64px;
  color: var(--primary-blue);
}

.lower-sofa-cleaning-services-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--primary-blue);
}

.btn-wrapper {
  width: 100%;
  text-align: center;
}

.btn-center {
  background-color: var(--background-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .lower-sofa-cleaning {
    flex-direction: column;
    padding: 30px 20px;
  }

  .lower-sofa-cleaning-services-left {
    width: 100%;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .lower-sofa-cleaning {
    flex-direction: column;
    padding: 30px 20px;
  }

  .lower-sofa-cleaning-services-left {
    width: 100%;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .lower-sofa-cleaning {
    flex-direction: column;
    padding: 30px 20px;
  }

  .lower-sofa-cleaning-services-left h3 {
    font-size: 25px;
    text-align: center;
    line-height: 32px;
  }

  .lower-sofa-cleaning-services-left p {
    text-align: center;
    font-size: 14px;
  }

  .btn {
    font-size: 16px;
  }

  .lower-sofa-cleaning-services-right img {
    width: 100%;
  }
}
