.cleaning-service-page-popular-services {
  padding: 0px 65px;
  /* text-align: center; */
  margin-top: 20px;
  margin-bottom: 20px;
  /* height: 960px; */
}
.cleaning-service-page-popular-services h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 20px;
}

.cleaning-service-page-popular-services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.cleaning-service-page-popular-services-grid .service-box {
  position: relative;
  flex: 1 1 calc(33.33% - 16px);
  max-width: calc(33.33% - 16px);
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f9fc;
  border-bottom: 2px solid #0071B8;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  /* overflow: hidden; */
}

/* Content remains above animation */
.cleaning-service-page-popular-services-grid  .service-text,
.service-arrow {
  position: relative;
  z-index: 1;
}

.cleaning-service-page-popular-services-grid  .service-text {
  padding: 12px 16px;
  /* flex-grow: 1; */
}

.cleaning-service-page-popular-services-grid  .service-arrow {
  background-color: #0071B8;
  color: #fff;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/* Animated border as a bar behind content */
.cleaning-service-page-popular-services-grid .service-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px; /* initial left border */
  background-color: #0071B8;
  z-index: 1;
  transition: width 0.6s ease-in-out;
}

/* On hover, border expands from left to full width */
.cleaning-service-page-popular-services-grid .service-box:hover::before {
  width: 100%;
}

/* Optional: text color change on hover */
.cleaning-service-page-popular-services-grid .service-box:hover {
  color: #fff;
}
/* Tablet Devices (≤ 992px) – 2 columns */
@media (max-width: 992px) {
  .cleaning-service-page-popular-services-grid  .service-box {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
    .cleaning-service-page-popular-services h3 {
    font-size: 25px;
    line-height: 40px;
  }

}

/* Mobile Devices (≤ 600px) – 1 column */
@media (max-width: 600px) {
  .cleaning-service-page-popular-services-grid .service-box {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .cleaning-service-page-popular-services h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .cleaning-service-page-popular-services-grid .service-arrow {
    padding: 10px 16px; /* Reduce padding for smaller screens */
    font-size: 24px;
  }

 .cleaning-service-page-popular-services-grid .service-text {
    padding: 10px 12px;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .cleaning-service-page-popular-services h3 {
    font-size: 25px;
    line-height: 32px;
  }
}